body {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
}

a {
  &:hover {
    text-decoration: none;
  }
  &[href^="tel:"] {
    @include media-breakpoint-up(md) {
      pointer-events: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

h2,
h3,
h4,
h5 {
  line-height: normal;
}

.sec {
  padding: 80px 0;
}

.m-plus {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.btn {
  line-height: 1;
  padding: 1.2em;
}
