body {
  font-family: "Noto Sans JP", sans-serif;
  letter-spacing: 0.1rem;
}

a {
  &:hover {
    text-decoration: none;
  }
  &[href^="tel:"] {
    @include media-breakpoint-up(md) {
      pointer-events: none;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
}

mark {
  background: linear-gradient(transparent 65%, $warning 65%);
}

h2,
h3,
h4,
h5 {
  line-height: normal;
}

.sec {
  padding: 60px 0;
  @include media-breakpoint-down(md) {
    padding: 2rem 0;
  }
}

.kv {
  padding: 4rem 0;
  text-align: center;
  @include media-breakpoint-down(md) {
    padding: 2.5rem 0;
  }
  h2 {
    font-size: 3rem;
    margin: 0;
    color: $primary;
    letter-spacing: 0.1em;
    @include media-breakpoint-down(md) {
      font-size: 2rem;
    }
  }
}

.m-plus {
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.btn {
  line-height: 1;
  padding: 1.2em;
  &-light {
    border-color: $white;
    color: $primary;
    background-color: $white;
  }
  &-secondary {
    position: relative;
    background-color: $white;
    color: $body-color;
    border: 0;
    padding: 1.3em;
    border-radius: 5rem;
    min-width: 260px;
    text-align: center;
    box-shadow: 1px 2px 2px 0 rgba($black, 0.1);
    font-weight: 500;
    i {
      position: absolute;
      top: 50%;
      left: 1em;
      transform: translateY(-50%);
      display: inline-block;
      background-color: $primary;
      color: $white;
      width: 18px;
      height: 18px;
      text-align: center;
      line-height: 18px;
      border-radius: 50%;
      letter-spacing: -3px;
    }
  }
}

.bg-square {
  background-image: url("../images/bg-square.png");
  background-repeat: repeat;
}

.bg-gray {
  background-color: #f6f9f4;
}

.ttl__h2 {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 1.3em;
  @include media-breakpoint-down(md) {
    font-size: 1.6rem;
    margin: 0 0 1em;
  }
}
