.header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 5px rgba($black, 0.05);
  background-color: $white;
  background-color: $white;
  &__top {
    padding: 10px 0;
    border-bottom: solid 1px $light;
    @include media-breakpoint-down(md) {
      padding: 0;
    }
    .container {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: nowrap;
    }
    &--logo {
      color: $body-color;
      font-size: $font-size-base * 1.5;
      font-weight: 500;
      margin: 0;
      line-height: 1;
      @include media-breakpoint-down(md) {
        font-size: $font-size-sm;
        line-height: normal;
        letter-spacing: normal;
      }
      a {
        @include media-breakpoint-down(md) {
          white-space: nowrap;
        }
      }
    }
    &--toho {
      box-sizing: border-box;
      text-align: center;
      padding: 0.5rem $font-size-sm;
      background-color: $info;
      color: $primary;
      border-radius: 0.5rem;
      margin-left: 1rem;
      @include media-breakpoint-down(md) {
        font-size: 10px;
        padding: 1em;
        line-height: 1.1;
        margin: 0 1em 0 auto;
        white-space: nowrap;
        letter-spacing: normal;
      }
    }
    &__tel {
      display: block;
      margin-left: auto;
      margin-right: 2.5rem;
      color: $body-color;
      @include media-breakpoint-down(md) {
        display: none;
      }
      &--icon {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
      }
      &--num {
        display: inline-block;
        vertical-align: middle;
        font-weight: bold;
        font-size: 26px;
      }
      &--txt {
        display: block;
        font-size: 12px;
        line-height: 1;
      }
      &--btn {
        @include media-breakpoint-down(md) {
          margin-right: 3.1rem;
        }
        a {
          @include media-breakpoint-down(md) {
            font-size: 12px;
            padding: 0.7rem 5px;
            border-radius: 0;
            i {
              font-size: 1.4rem;
              margin-bottom: 3px;
            }
          }
        }
      }
    }
  }
  &__nav {
    display: block;
    box-sizing: border-box;
    padding: 1rem 0;
    @include media-breakpoint-down(md) {
      display: none;
    }
    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: nowrap;
      padding: 0;
      margin: 0 auto;
      li {
        display: block;
        list-style: none;
        width: calc(100% / 8);
        a {
          display: block;
          text-align: center;
          color: $body-color;
        }
      }
    }
  }
  &__sp {
    display: none;
    @include media-breakpoint-down(md) {
      display: block;
    }
    &__btn {
      z-index: 1;
      cursor: pointer;
      display: block;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      right: 0;
      background-color: $white;
      width: 66px;
      height: 100%;
      text-align: center;
      padding: 0.8rem 0.5rem;
      span {
        &:not(.header__sp__btn--txt) {
          display: block;
          width: 2rem;
          height: 1px;
          margin: 0 auto 0.5rem;
          background-color: $primary;
        }
        &.header__sp__btn--txt {
          display: block;
          font-size: 10px;
          font-weight: bold;
          text-align: center;
          color: $primary;
          line-height: 1;
        }
      }
      &.open {
        background-color: #f3fbed;
        .hum_1 {
          opacity: 0;
        }
        .hum_2 {
          transform: rotate(45deg);
        }
        .hum_3 {
          position: relative;
          top: -9px;
          transform: rotate(-45deg);
        }
      }
    }
    &__menu {
      display: none;
      position: fixed;
      top: 61px;
      left: 0;
      width: 100vw;
      background-color: #f3fbed;
      ul {
        display: flex;
        justify-content: center;
        align-items: stretch;
        flex-wrap: wrap;
        margin: 0;
        box-sizing: border-box;
        padding: 1rem;
        li {
          list-style: none;
          width: 50%;
          a {
            box-sizing: border-box;
            display: block;
            color: $body-color;
            background-color: $white;
            padding: 1.5em;
            border-top: solid 1px $primary;
            font-size: $font-size-sm;
            &::before {
              content: ">";
              color: $primary;
              margin-right: 5px;
            }
          }
          &:nth-last-child(-n + 2) {
            a {
              border-bottom: solid 1px $primary;
            }
          }
        }
      }
      &__tel {
        display: block;
        text-align: right;
        box-sizing: border-box;
        padding-left: 1rem;
        img {
          width: 100%;
        }
      }
      &__contact {
        margin-top: 1rem;
        display: block;
        text-align: center;
        box-sizing: border-box;
        padding: 0 1rem 1rem;
        img {
          width: 100%;
        }
      }
    }
  }
}
